<div class="container text-area-container">
  <div class="left-side">
    <textarea
      [(ngModel)]="textAreaContent" 
      [ngClass]="applyNewEffect(false,'')"
    ></textarea>
    <app-show-button [btnText]="'Show Result'" (click)="calcStatistics()"></app-show-button>
  </div>
  <div class="right-side">
    
    <ul>
      <li>Words Number: <span [textContent]="wordsNumber"></span></li>
      <li>All Chars Number: <span [textContent]="lettersNumber"></span></li>    
      <li>Alphabet Chars Number: <span [textContent]="alphabetCharsNumber"></span></li>
      <li>Special Chars Number: <span [textContent]="specialCharsNumber"></span></li>
      <li>Numbers Number: <span [textContent]="numbersNumber"></span></li>
    </ul>
  </div>
</div>
